
.backgroundImg{
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 背景颜色 */
.bgWhite{
	background: #FFFFFF;
}
.backgroundViolet{
	background-color: #63568D;
}
.bgColorRed1{
	background-color:#B81D22 ;
}
.bgColorRed2{
	background-color: #EAE5E9;
}
.bgColorGreen1{
	background-color: #3A5562; 
}

.bgColorBlockOpacity{
	background-color: rgba(0, 0, 0, 1);
}
.bgColorBlockOpacity4{
	background-color: rgba(0, 0, 0, .4);
}
.bg555{
	background-color: #555555;
}
.grey{
	background-color: #BBBBBB;
}

/* 字体颜色 */

.grey1{
	color: #BFAFB7;
}
.white{
	color: #FFFFFF;
}
.redB{
	color: #B81D22;
}
.red2{
	color: #BFAFB7;
}
.black{
	color: #313236;
}
.black1{
	color: #000000;
}
.black4{
	color: #4B4C5E;
}
.black9{
	color: #9DA0B1;
}
.black10{
	color: #1A1A1A;
}
.black11{
	color: #666666;
}
.violet{
	color: #946BE3;
}
.violet2{
	color: #63568D;
}

/* 字体加粗 */
.fontweight{
	font-weight: bold;
}
.font-weight800{
	font-weight: 800;
}
.font-weight500{
	font-weight: 500;
}

/* 字体大小 */
.font16{
	font-size: 32rpx;
}
.font12{
	font-size: 24rpx;
}
.font14{
	font-size: 28rpx;
}
/* 字体 */
.fontfamily{
	/* font-family: "Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif"; */
}

.fontOpacity{
	color: #fff;
	opacity: 0.4;
}
/* 图标大小 */
.iconWidth{
	width: 48rpx;
	height: 48rpx;
}
/* flex 定位 */
.flex-style{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-column{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.flex-column2{
	display: flex;
	flex-direction: column;
}
.flex-items{
	display: flex;
	align-items: center;
}
.flex-spacearound{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flex-spacebetween{
	display: flex;
	justify-content: space-between;
}
.flex-spacebetween-center{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* 内边距 */
.padding16{
	padding: 32rpx;
}

.fl{
	float: left;
}
.fr{
	float: right;
}

/* 透明度 */
.opacity1{
	opacity: 0.1;
}
.opacity4{
	opacity: 0.4;
}

/* 动画 */

.progress-animate{
		width: 100%;
	}
	
	@keyframes progress-animate{
		0% {
			background: #AAA1CE;
			width: 0%;
		}
		10% {
			background: #AAA1CE;
			width: 10%;
		}
		20% {
			background: #AAA1CE;
			width: 20%;
		}
		30% {
			background: #AAA1CE;
			width: 30%;
		}
		40% {
			background: #AAA1CE;
			width: 40%;
		}
		50% {
			background: #AAA1CE;
			width: 50%;
		}
		60% {
			background: #AAA1CE;
			width: 60%;
		}
		70% {
			background: #AAA1CE;
			width: 70%;
		}
		80% {
			background: #AAA1CE;
			width: 80%;
		}
		90% {
			background: #AAA1CE;
			width: 90%;
		}
		100% {
			background: #AAA1CE;
			width: 100%;
		}
	}
	
	/* 旋转动画 */
	
	.custom-rotate{
	  -webkit-animation: spin 5s linear infinite;
	  animation: spin 5s linear infinite;
	}
	@keyframes spin {
	  from {
	    transform: rotate(0deg);
	  }
	  to {
	    transform: rotate(360deg);
	    transition: all 5s;
	  }
	}